.container {
  max-width: 736px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 512px;
  display: flex;
  background-color: var(--white);
  border-radius: 32px;
}

.showcase {
  background: var(--gradient-1);
  width: 50%;
  border-radius: 32px;
}

.yourResult {
  color: var(--light-blue);
  text-align: center;
  margin-top: 38px;
  margin-bottom: 35px;
}

.counterContainer {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: auto;
  background: var(--gradient-2);
}

.counterScore {
  color: var(--white);
  text-align: center;
  margin: 0;
  padding-top: 55px;
  display: block;
}

.counterTotalScore {
  color: var(--light-blue);
  text-align: center;
  font-weight: 700;
  opacity: 0.52;
  margin-top: 4px;
}

.resultInfoHeader {
  color: var(--white);
  text-align: center;
  margin-top: 28px;
  margin-bottom: 14px;
}

.resultInfoText {
  color: var(--light-blue);
  text-align: center;
  max-width: 260px;
  margin: auto;
}

.summaryContainer {
  padding: 38px 40px 46px 40px;
}

.summaryHeader {
  color: var(--dark-navy);
  margin: 0 0 26px;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    height: 100px;
    max-width: 375px;
    position: static;
    margin-top: 50px;
    height: auto;
    max-height: fit-content;
  }

  .counterContainer {
    width: 140px;
    height: 140px;
  }

  .counterScore {
    padding-top: 25px;
  }

  .counterTotalScore {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    margin-top: 0;
  }

  .showcase {
    background: var(--gradient-1);
    width: 100%;
    border-radius: 32px;
  }

  .resultInfoText {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
  }

  .summaryContainer {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 440px) {
  .container {
    margin-top: 20px;
  }
}

@media (max-width: 375px) {
  .container {
    margin-top: 0px;
  }
  .showcase {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

@media (max-width: 340px) {
  .summaryContainer {
    padding-left: 10px;
    padding-right: 10px;
  }
}
