:root {
  --gradient-1: linear-gradient(
    180deg,
    #7755ff 0%,
    #6943ff 0.01%,
    #2f2ce9 100%
  );
  --gradient-2: linear-gradient(
    180deg,
    #4d21c9 0%,
    rgba(37, 33, 201, 0) 100%,
    rgba(37, 33, 201, 0) 100%
  );
  --yellow: #ffb21e;
  --white-yellow: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.95)
    ),
    #ffb21e;
  --blue: #1125d6;
  --white-blue: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.95)
    ),
    #1125d6;
  --green: #00bb8f;
  --white-green: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.95)
    ),
    #00bb8f;
  --red: #ff5555;
  --white-red: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.95)
    ),
    #ff5555;
  --dark-navy: #303b59;
  --light-blue: #cac9ff;
  --very-light-blue: #ecf2ff;
  --white: #ffffff;
}

@font-face {
  font-family: "HankenGrotesk";
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

body {
  margin: 0;
  font-family: "HankenGrotesk", sans-serif;
  font-size: 18px;
}

.heading-xl {
  font-weight: 800;
  font-size: 72;
  line-height: 72px;
}

.heading-l {
  font-weight: 700;
  font-size: 32px;
}

.heading-m {
  font-weight: 700;
  font-size: 24px;
}
